.header {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1000;
}

.menu {
  width: 480px;
  height: 650px;
  background-color: #FEBE10;
  border-radius: 25px;
  position: relative;
}

@media (max-width: 768px) {
  .menu {
    width: 280px;
    height: 450px;
    background-color: #FEBE10;
    border-radius: 25px;
    position: relative;
  }
}