@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500;6..96,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Define variables */
:root {
  --main: #f0d8bb;
  --white: #ffffff;
  --black: #000;
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  cursor: crosshair;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Megrim', cursive;
  font-weight: 900;
}


nav{
  padding: 20px 30px;

}

nav ul a{
  font-family: 'Megrim', cursive;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 100px 0;
}

.secondary-cursor {
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;

  background: #fff;
  mix-blend-mode: difference;
  opacity: 1;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
}

.small {
  width: 30px;
  height: 30px;
}

.hide {
  width: 0px;
  height: 0px;
  transform-origin: center;
}

.lineParent {
  overflow: hidden;
}

.lineChildren {
  transform: translate(0, 500px);
  font-family: "Azeret Mono";
}

.is-reveal .animatedimage .placeholder {
  opacity: 0;
}

.is-reveal .animatedimage .mediaimage {
  transform: scale(1);
}

.gallery .is-reveal .galleryitem {
  clip-path: inset(0% 0% 0% 0%);
}

/* Header styles */
.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: auto;
  height: 100%;
}

.container.fluid {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: 1560px;
  }
}

.container .row {
  display: flex;
  align-items: center;
}

.container .row.space-between {
  justify-content: space-between;
}

.container .row.center {
  justify-content: center;
}

.container {
  position: relative;
}
.container .row {
  height: 100vh;
  align-items: center;
}
.container .row .image-container {
  position: relative;
}
.container .row .image-container .thumbnail {
  overflow: hidden;
  position: relative;
}
.container .row .image-container .thumbnail .frame img {
  width: 100%;
}
.container .row .image-container .information {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  text-transform: uppercase;
}
.container .row .image-container .information .location span:nth-child(2) {
  margin-left: 8px;
}

/* ////// */



.single .container .top-row {
  height: 50vh;
  width: 100%;
  align-items: flex-end;
}
.single .container .top-row .top {
  padding-bottom: 40px;
}
.single .container .top-row .top .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single .container .top-row .top .details .location span:nth-child(2) {
  margin-left: 16px;
}
.single .container .top-row .top .details .mua {
  text-transform: uppercase;
}
.single .container .top-row .top .model {
  overflow: hidden;
  font-family: "Megrim", cursive;

}
.single .container .top-row .top .model .first {
  margin-right: 72px;
  font-family: "Megrim", cursive;
}
.single .container .top-row .top .model span {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 224px;
  font-family: "Maragsa";
}
@media (max-width: 1440px) {
  .single .container .top-row .top .model span {
    font-size: 128px;
  }
}

.single .container .bottom-row {
  height: 50vh;
  position: relative;
}
.single .container .bottom-row .bottom {
  height: 100%;
  width: 100%;
}
.single .container .bottom-row .bottom .thumbnail-single {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}
.single .container .bottom-row .bottom .thumbnail-single .frame-single img {
  position: absolute;
  width: 100%;
}
.single .container .bottom-row .scroll-for-more {
  position: absolute;
  bottom: 200px;
  left: 200px;
  z-index: 20;
}
.single .container .bottom-row .scroll-for-more .icon svg {
  height: auto;
  width: 28px;
}
.single .container .bottom-row .scroll-for-more .text {
  margin-top: 8px;
  color: #fff;
  text-transform: uppercase;
}

.detailed-information {
  margin-top: 100px;
  height: 80vh; 
  padding-bottom: 50px;
}

.detailed-information .container .row {
  justify-content: space-between;
  align-items: flex-start;
}
.detailed-information .container .row h2 {
  font-size: 28px;
}

.detailed-information .container .row p {
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  line-height: 28px;
  font-weight: 400;
  width: 800px;
  
}

.text {
  font-size: 30px;
  padding: 0px 50px;
  font-family: "Roboto", serif;
  font-weight: 400;
}

.wrapper .is-reveal .image-container {
  transform-origin: scale(1);
}

.sepia {
  filter: grayscale(100%) sepia(20%) brightness(80%);
}

.masked {
  clip-path: circle(25% at 50% 50%);
}






.banner-container {
  cursor: none;
  overflow: hidden;
}

.banner-container .cursor {
  position: fixed;
  background: #2128bd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -10px 0 0 -10px;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

.banner-container .shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #2128bd;
}

.banner-container .shapes .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.banner-container .shapes .shape.shape-1 {
  background-color: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.banner-container .shapes .shape.shape-2 {
  background-color: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.banner-container .shapes .shape.shape-3 {
  background-color: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.banner-container .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ffff;
  mix-blend-mode: screen;
}

.banner-container .banner-content .banner-text {
  color: black;
  margin: 0;
  font-size: 130px;
  font-weight: 800;
  letter-spacing: 5px;
}

.banner-container .banner-content .txt {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: red;
}

/* Media Queries for Tablet and Phone */
@media (max-width: 768px) {
  .banner-container .banner-content {
    display: block;
  }
  
  .banner-container .banner-content .banner-text {
    font-size: 100px;
    margin-top: 100px;
    text-align: center;
  }

  .banner-container .banner-content .txt {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .banner-container .banner-content {
    display: block;
  }
  
  .banner-container .banner-content .banner-text {
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
  }

  .banner-container .banner-content .txt {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
}



@media (max-width: 767px) {
  .container {
    padding: 0 16px;
    height: 500px;
  }

  .single .container .top-row {
    height: 30vh;
    width: 100%;
    align-items: center !important;
  }

  .single .container .top-row .top .model span {
    font-size: 45px;
    /* width: 100%; */
    display: inline-block;
  }

  .single .container .bottom-row .scroll-for-more {
    bottom: 100px;
    left: 50px;
  }

  .detailed-information .container .row p {
    font-size: 36px;
    width: 100%;
  }

  .text {
    font-size: 20px;
    line-height: 1.2;
    padding: 0px 16px;
    margin-bottom: 20px;
    /* height: 300px; */
  }

  .frame-single img {
    transform: translateY(50px) scale(1.00029) translateZ(0px) !important;
  }

  

  .thumbnail-single {
    width: 100%;
    height: 300px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }

  .single .container .top-row .top .model span {
    font-size: 96px;
  }

  .single .container .bottom-row .scroll-for-more {
    bottom: 150px;
    left: 100px;
  }

  .detailed-information{
    margin-bottom: 50px;
    /* height: 150vh; */

  }

  .detailed-information .container .row p {
    font-size: 30px;
    width: 100%;
  }

  .text {
    font-size: 20px;
    /* line-height: 1.2; */
    padding: 30px;
    margin-top: 200px;

    
  }

  .single .container .bottom-row .bottom .thumbnail-single {
    /* width: 100%;
    height: 800px; */
    margin: 0 auto;
    /* overflow: hidden; */
    position: absolute;
    left: 0;
    right: 0;
  }
}
